*{
	margin: 0%;
	padding: 0%;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

header, section, footer, aside, nav, article, figure, hgroup{
	display: block;
}

body{
	text-align: center;
}

a:link {text-decoration:none;color:#000000;} 


a:visited {text-decoration:none;color:#000000;} 


a:active {text-decoration:none;color:#058907;} 


a:hover {text-decoration:underline;} 


#agrupar{
	width: 95%; /*Ancho del contenedor*/
	margin: 0.5% auto; /*auto = margen superior e inferior*/
	text-align: left;
}

#menu{
	background: #CCCCCC;
	padding: 0.5% 2.5%;
	background: -webkit-linear-gradient(30deg,#8fca90,#058907); /*Parametros: Lugar de inicio, color inicial, color final*/
	background: -moz-linear-gradient(30deg,#8fca90,#058907);

}

#menu li:first-child{

	width: 12%;
	text-align: center;
}

#menu li:nth-child(5){
	text-decoration:underline;
	color:#058907;
}


#menu li{	
	display: inline-block;
	list-style: none;
	padding:  0% 3%;
	font: bold 90% verdana, sans-serif;	
	text-shadow: rgb(150,150,150) 0.3% 0.3% 0.5%;
}

#texto, #detalles{
	width: 80%;
	margin: 10%;
	float: left;
	text-align: center;
	text-shadow: rgb(150,150,150) 0.3% 0.3% 0.5%;
}

img { max-width: 100%};
